:root {
  --color-primary: #fff;
  --color-primary-dark: #000000;
  --color-secondary: #101d2c;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-red-light-1: #fd5f6b;
  --color-red-light-2: #e92735;
  --color-purple-light-1: #6f62fd;
  --font-primary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

button {
  border-width: 0;
  background: none;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*:focus {
  outline: none;
  outline: 0px dotted black;
  outline-offset: 8px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 46%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 44%;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 35%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 30%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: normal;
  color: var(--color-primary);
}

.container {
  margin: 0 auto;
  max-width: 114rem;
}

.heading--light {
  font-weight: 300;
}

.heading--bold {
  font-weight: 700;
}

.heading--2 {
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.slider {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 976px) {
  .slider {
    -ms-grid-columns: 117fr 15fr;
    grid-template-columns: 117fr 15fr;
  }
}
@media only screen and (max-width: 768px) {
  .slider {
    -ms-grid-columns: 1fr 5.5fr 1fr;
    grid-template-columns: 1fr 5.5fr 1fr;
    -ms-grid-rows: 2fr 0.7fr;
    grid-template-rows: 2fr 0.7fr;
  }
  .slider > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .slider > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .slider > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .slider > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .slider > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media only screen and (max-width: 480px) {
  .slider {
    -ms-grid-columns: 1fr 8fr 1fr;
    grid-template-columns: 1fr 8fr 1fr;
    -ms-grid-rows: 2fr 0.5fr;
    grid-template-rows: 2fr 0.5fr;
  }
  .slider > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .slider > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .slider > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .slider > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .slider > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
.slider .content {
  grid-column: 1/-1;
  grid-row: 1/-1;
  z-index: 0;
  position: relative;
}
.slider .content::before {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, rgba(34, 116, 215, 0)), color-stop(86%, rgba(30, 37, 46, 0.64)));
  background-image: linear-gradient(to bottom, rgba(34, 116, 215, 0) -1%, rgba(30, 37, 46, 0.64) 86%);
  width: 100%;
  height: 100%;
}
.slider .slider__text {
  margin-left: 48px;
  margin-bottom: 48px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  -ms-grid-row-align: end;
      align-self: end;
  z-index: 1;
}
.slider .slider__text span {
  display: block;
}
@media only screen and (max-width: 768px) {
  .slider .slider__text {
    margin-left: 0;
    margin-bottom: 3rem;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  .slider .slider__text {
    margin-bottom: 10px;
  }
}
.slider .img-huge {
  display: block;
  max-height: 54.5rem;
  width: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider__flow--img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  z-index: 1;
  -ms-grid-column-align: end;
      justify-self: end;
}
@media only screen and (max-width: 768px) {
  .slider .slider__flow--img {
    padding-left: 80px;
    padding-right: 80px;
    -ms-flex-line-pack: end;
        align-content: end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -ms-grid;
    display: grid;
    max-width: 768px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .slider .slider__flow--img {
    display: none;
  }
}
.slider .slider__flow--img .img-small {
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1px;
  display: block;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.slider .slider__flow--img .img-small:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.slider .slider__flow--img .act {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  cursor: auto;
}
.slider .arrow__box {
  display: none;
}
@media only screen and (max-width: 480px) {
  .slider .arrow__box {
    -ms-grid-row-align: end;
        align-self: end;
    z-index: 2;
    text-align: center;
    color: #fff;
    -ms-flex-line-pack: end;
        align-content: end;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: block;
  }
}
.slider .slider-btn, .slider .slider-btn:link, .slider .slider-btn:visited {
  padding: 8px 20px;
  border-radius: 21px;
  background-color: var(--color-red-light-1);
  font-size: 1.1rem;
  font-weight: bold;
  font-family: inherit;
  line-height: 2.36;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.slider .slider-btn:hover, .slider .slider-btn:active {
  background-color: var(--color-red-light-2);
}
.slider .slider-btn:active {
  background-color: var(--color-purple-light-1);
}