// COLOR VARIABLES
:root{

    --color-primary: #fff;
    --color-primary-dark: #000000;
    
    --color-secondary: #101d2c;
    
    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: #aaa;
    
    --color-red-light-1: #fd5f6b;
    --color-red-light-2: #e92735;

    --color-purple-light-1: #6f62fd;
    
    // FONT VARIABLES
    --font-primary: 'Montserrat', sans-serif;
   

    
}

*{
    margin: 0;
    padding: 0;
}

*,*::before,*::after{
    box-sizing: inherit;
}

a:link,
a:visited {
text-decoration: none;
}
a:hover,
a:active {
} 
button{
    border-width: 0;
    background: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    margin: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*:focus{
    
    outline: none;
    outline: 0px dotted black;
    outline-offset: 8px;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    @media (max-width:768px){
        font-size: 54%;

      }
      @media (max-width:620px){
        font-size: 48%;

      }
      @media (max-width:550px){
        font-size: 46%;

      }
      @media (max-width:480px){
        font-size: 44%;

      }
      @media (max-width:380px){
        font-size: 35%;

      }
      @media (max-width:320px){
        font-size: 30%;

      }
     
     
   
}

body{
 font-family: var(--font-primary);
 font-weight: 400;
 line-height:normal;
 color: var(--color-primary);
   
}
.container{
    margin: 0 auto;
    max-width: 114rem;
}


