.slider{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  position: relative;
     
        @media (min-width:768px){
          display: block;
   
        }

  // ******************************************************************************
        picture{
            grid-column: 1 /-1;
            grid-row: 1 / -1;
            display: flex;
            &::before{
                content: "";
                position: absolute;
                background-image: linear-gradient(to bottom, rgba(34, 116, 215, 0) -1%, rgba(30, 37, 46, 0.64) 86%);
                width: 100%;
                height: 100%;
                overflow: hidden;

            }

            .img-huge{
             
                max-height: 54.5rem;
                width: 100%; 
                object-position: center;
                object-fit: cover;

            }  
            input + img{
              display: none;
            }
            input{
                display: none;

                &:checked + img{
                  display: block;
              }
            }
 

         }
  // ******************************************************************************
        .slider__content{
          position:static;
          text-align: center;
          grid-column: 1 /-1;
          grid-row: 1/ 2;
          z-index: 1;
          align-self: end;
          

            span{
              display: block;

            }

            .slider-btn{
                &,&:link,&:visited{
                    padding: .8rem 2rem;
                    border-radius: 21px;
                    background-color: var(--color-red-light-1);
                    font-size: 1.1rem;
                    font-weight: bold;
                    font-family: inherit;
                    line-height: 2.36;
                    letter-spacing: 3px;
                    color: #fff;
                    text-transform: uppercase;
                    transition: all .2s;
                    cursor: pointer;
       
                }

                &:hover,&:active{
                    background-color: var(--color-red-light-2);

                }

                &:active{
                    background-color: var(--color-purple-light-1);

                }
       
            }

            @media (min-width:768px){
              text-align: left;
              position: absolute;
              bottom: 48px;
              left: 48px;
              display: block;

            }

        }

  // ******************************************************************************

        .slider__flow--img
        {
          display: none;
            
          @media (min-width:486px){
            align-self: end;
            position:static;
            text-align: center;
            grid-column: 1 /-1;
            grid-row: 2 / -1;
            display: flex;  
            justify-content: center;
            justify-self: center;
            max-width: 60%; 

          }
            @media (min-width:768px){
        
              position: absolute;
              top: 0;
              right: 0;
              display: block;
              max-width: 11.33vw;

            }
         

            .img-small{
                max-width: 100%;
                padding-bottom: 1px;
                display: block;
                filter: brightness(60%);
                transition: all .2s;
                cursor: pointer;

                &:hover{
                    filter: brightness(100%);

                }
                &:active{
                  filter: brightness(100%);

                }

              }
              .act{
                filter: brightness(100%);
              }

              

            
           
  
        }

  // ******************************************************************************  


        .slider__flow--arrow{
            display: block;
            position: absolute;
        
                grid-column: 1 /-1;
                grid-row: 2 / -1;
                
                justify-self: center;
                align-self: center;
            .arrow{
                cursor: pointer;
                width: 6.6rem;
               
            }
            @media (min-width:486px){
                display: none;

                
            }
    
        }
}

